
<% if (error != '') { %>
    <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>  
 <% } %>
<h1 class="mt-4">Dashboard</h1>
<p>Welcome <%= user.name %></p>


<h3 class="mt-3">Breaking news!</h3>

<ul class="list-group">
    <% articles.forEach(article =>{ %>
        <li class="list-group-item"><%= article.headline %></li>
      <% }); %>    
</ul>

  <!--  
      <% articles.forEach(article =>{ %>
        <li class="list-group-item"><%= article.headline %></li>
      <% }); %>
 -->