<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <h1>Are you sure?</h1>
                    <p>This can't be undone and will be lost forever</p>
                    <a class="btn btn-danger"href="/articles/delete/<%=article._id%>">Delete</a>
                    <a class="btn btn-secondary" href="/articles/<%=article._id%>">Go back</a>
                </div>
            </div>
            
        </div>
    </div>
</div>